<!DOCTYPE html>
<html>
<head>
	<meta charset=UTF-8>
	<title>Doi mat khau</title>
	<link rel="stylesheet" th:href="@{/css/form.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container main">
		<form  th:action="@{/admin/change-password}" method="post" 
		th:object="${manager}" class="form" id="form-validation">
			<h3 class="heading">Đổi mật khẩu</h3>
        	<div class="spacer"></div>
        	
        	<input th:field="*{id}" type="hidden"/>
        	<input th:field="*{username}" type="hidden"/>
        	<input th:field="*{role}" type="hidden"/>
        	<input th:field="*{description}" type="hidden"/>
        	
        	<p style="color: red;" th:if="${error != null}">Mật khẩu nhập lại không chính xác</p>
        
        	<div class="form-group">
				<label for="name" class="form-label">Nhập mật khẩu cũ</label>
				<input id="password-old" name="oldPassword" type="password" class="form-control"
					placeholder="Nhập mật khẩu"/>
				<span class="form-message"></span>
        	</div>
        	
        	<div class="form-group">
				<label for="name" class="form-label">Nhập mật khẩu mới</label>
				<input id="password" name="password" type="password" class="form-control"
					 placeholder="Nhập mật khẩu mới">
				<span class="form-message"></span>
        	</div>
        	
        	<div class="form-group">
	            <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
	            <input id="password_confirmation" value="" name="password_confirmation"
	            	 placeholder="Nhập lại mật khẩu" type="password" class="form-control">
	            <span class="form-message"></span>
          	</div>
			
			<button type="submit" class="form-submit">Thay đổi</button>
		</form>
	</div>
	
	<script type="text/javascript" th:src=@{/js/formValidation.js}></script>
</body>
</html>