<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
<title>Danh sach danh muc phong</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:replace="common/headerAdmin :: headerAdmin"></header>
	<div class="container">
		<div class="header-list-wrapper">
			<h1>Danh sách danh mục phòng</h1>
		</div>

		<table class="table table-bordered">
			<tr>
				<th class="th-title bg-primary">Mã danh mục</th>
				<th class="th-title bg-primary">Tên danh mục</th>
				<th class="th-title bg-primary">Giá tiền</th>
				<th class="th-title bg-primary">Lựa chọn</th>
			</tr>

			<tr th:each="type: ${roomTypeDTOs}">
				<td th:text="${type.id}"></td>
				<td th:text="${type.name}"></td>
				<td>
					<span th:text="${#numbers.formatDecimal(type.price, 0, 'COMMA', 0, 'POINT')}">
					1,145,000
					</span> VNĐ
				</td>
				<td><a class="option-from-user"
					th:href="@{/admin/updateRoomType/__${type.id}__}">Sửa</a> | <a
					class="option-from-user btn-soft-delete" href=""
					th:dataid="${type.id}" data-toggle="modal" data-target="#myModal">
						Xóa</a> | <a class="option-from-user"
					th:href="@{/admin/info-room-type/__${type.id}__}">Chi tiết</a> | <a
					class="option-from-user"
					th:href="@{/admin/rooms-in-type/__${type.id}__}">Các phòng</a></td>
			</tr>
		</table>

		<button>
			<a th:href="@{/admin/addRoomType}">Thêm mới danh mục phòng</a>
		</button>

		<form action="/admin/delete-room-type/" name="form-soft-delete"
			method="post"></form>

		<div th:replace="common/deleteModal :: deleteModal"></div>

	</div>
	<script th:src="@{/js/app.js}" type="text/javascript"></script>
</body>
</html>